body {
    background-color: #F0EFF2;
}

.content {
    width: 60%;
    margin: 50px auto;
}

.content-title {
    border-left: solid 8px #000;
    padding-left: 10px;
}

.month {
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.month__heading {
    display: flex;
    justify-content: center;
}

.month__heading--icon {
    margin-right: 10px;
}

.month__heading--title {
    margin: 0;
}

.month__previous,
.month__next {
    text-decoration: none;
    font-size: 16px;
    color: #737373;
    font-weight: bolder;
    margin: auto 0;
}

.record-table {
    background-color: #fff;
    border-radius: 5px;
}

.record-teble__inner {
    width: 100%;
}

.record-table__row:first-of-type {
    border-bottom: solid 3px #E1E1E1;
}

.record-table__row {
    border-bottom: solid 1px #E1E1E1;
    color: #737373;
    text-align: center;
}

th,
td {
    padding: 10px;
    color: #737373;
    font-weight: bolder;
}

.record-table__detail {
    text-decoration: none;
    color: #000;
}

.button {
    margin-top: 100px;
    text-align: right;
}

.button__submit {
    padding: 10px 50px;
    color: #FFF;
    background-color: #000;
    border-radius: 5px;
    border: none;
    font-size: 22px;
}

@media screen and (max-width: 850px) {

    th,
    td,
    .category__title {
        font-size: 12px;
        max-width: 100px;
    }

    .content {
        width: 70%;
        margin: 30px auto;
    }

    .category,
    .record-table {
        margin-top: 30px;
    }
}