body {
    background-color: #F0EFF2;
}

.content {
    width: 60%;
    margin: 50px auto;
}

.content-title {
    border-left: solid 8px #000;
    padding-left: 10px;
}

.user-table {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 5px;
}

.user-teble__inner {
    width: 100%;
}

.user-table__row:first-of-type {
    border-bottom: solid 3px #E1E1E1;
}

.user-table__row {
    border-bottom: solid 1px #E1E1E1;
    color: #737373;
    text-align: center;
}

th,
td {
    padding: 10px;
    color: #737373;
    font-weight: bolder;
}

.user-table__detail {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 850px) {

    th,
    td,
    .category__title {
        font-size: 12px;
        max-width: 100px;
    }

    .content {
        width: 70%;
        margin: 30px auto;
    }

    .category,
    .user-table {
        margin-top: 30px;
    }
}