body {
    background-color: #F0EFF2;
}

.content {
    width: 60%;
    margin: 50px auto;
}

.content-title {
    border-left: solid 8px #000;
    padding-left: 10px;
}

.record-table {
    background-color: #fff;
    border-radius: 5px;
    margin: 100px 0;
}

.record-teble__inner {
    width: 100%;
}

.record-table__row {
    border-bottom: solid 1px #E1E1E1;
    color: #737373;
    text-align: center;
}

th {
    padding: 10px;
    color: #737373;
    font-size: 16px;
    font-weight: bolder;
}

td,
input,
span,
textarea {
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

h3 {
    font-size: 16px;
    margin: 30px 0;
}

input {
    margin: 30px;
    padding: 3px;
    width: 15%;
    border-radius: 5px;
    border: solid 1px #E1E1E1;
}

@media screen and (max-width: 850px) {
    input {
        width: 20%;
        font-size: 12px;
    }
}

.record-table__date {
    margin: 30px 40px;
}

textarea {
    margin: 10px;
    width: 40%;
    height: 100px;
    border-radius: 5px;
    border: solid 1px #E1E1E1;
    text-align: left;
}

.correct {
    text-align: right;
}

.correct__button {
    padding: 10px 50px;
    color: #FFF;
    background-color: #000;
    border-radius: 5px;
    border: none;
    font-size: 22px;
}