.header {
    background: #000;
}

.header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding: 15px;
}

.header__nav {
    display: flex;
    margin-right: 30px;
}

.logout_form {
    margin: auto;
}

.header__nav--button {
    margin-right: 20px;
    color: #fff;
    border: none;
    background-color: #000;
    font-size: 18px;
}

@media screen and (max-width: 850px) {
    .header__nav--button {
        font-size: 12px;
    }
}

.header__logo--image {
    width: 100%;
}